h1
{
  color: $color-primary;
  background-color: $color-application;
  font-size: $font-size-22;
  line-height: 22px;
}

p
{
  color: $color-primary;
  background-color: $color-application;
  font-size: $font-size-22;
  line-height: 22px;
}

a
{
  color: $color-primary;
  background-color: $color-application;
  font-size: $font-size-22;
  line-height: 22px;
}
